{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Erreur 404 : Page Non trouvée... Êtes-vous perdu ?</h1>
        <div class="text-center mt-5">
            <a class="btn btn-success" href="{{ path('app_home') }}">Revenir en lieu sûr</a>
        </div>
    </div>
{% endblock %}