{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center">Erreur 500 : Même les développeurs ne comprennent pas cette erreur...</h1>
        <div class="text-center mt-5">
            <a class="btn btn-success" href="{{ path('app_home') }}">Fuir !</a>
        </div>
    </div>
{% endblock %}